body {
    padding: 10px;
}

.port {
    width: 8ch;
}

table {
    width: 100%;
}

textarea {
    width: 100%;
    height: 10em;
}

label,
input {
    display: inline-block;
}

hr {
    background: transparent;
    border: none;
}
